.Customized-UI.Image {
    vertical-align: middle;
}

.Customized-UI.Image.Fluid {
    width: 100%;
}

.Customized-UI.Image.RoundedBorder {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Customized-UI.HeightFit {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}