h1.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 2rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}

h2.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 1.6rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}

h3.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 1.4rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}

h4.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 1.2rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}

h5.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 1rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}

h6.Customized-UI {
    margin:0;
    padding: 0;
    font-size: 0.8rem;
    padding: 5px 0 8px 0;
    font-weight: 700;
}